
/**
 * We're almost done.
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 * I hope you enjoyed this.
 *
 * Thanks to Jake Albaugh and Samuel Reed, who have previously created pages like this. 
 * Pretty much all of the autotyping and syntax highlighting
 * code is based off their work.
 */

/**
 * By the way, you can edit ALL of this code. Try adding new CSS!
 *
 * For example,
 *
 * The property 'text-shadow' takes the parameters:
 * 'x', 'y', 'blur', 'color'.
 *
 * So if you want to mirror the values,
 * you could place a shadow 15px under it,
 * with a little blur for effect:
 */

.value {
  text-shadow: 0px 15px 1px white;
}

/**
 * Try it out! There's lots you can do.
 * Try playing with text sizes, shadows, animations, or just
 * break the page. This is your playground now.
 */


