
/**
 * The text could use some sprucing up.
 */

.md {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  display: inline-block;
  color: #ddd;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.md li {
  margin: 5px 0;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md ul, .md p {
  margin: 0px;
}

/**
 * That's better.
 *
 * Now that you've seen some projects/resume, you're probably wondering about research.
 *
 * I've got some of that too.
 *
 * Ever wonder when they started saying teenager?
 *
 * It's a lot more recent than you think.
 */

#research-text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  color: #ada;
}